@{
    ViewData["Title"] = "Home Page";
}

<div class="container padding-top-100px">

    <!-- INICIO -->
    <div
        class="grid grid-template-columns-2 grid-template-rows-2 grid-template-columns-lg-1 grid-template-rows-lg-1 gap-15px">
        <div class="grid-item grid-span-row-2">
            <div class="container-main-img-home">
                <h3>Crianças e bebês no seu mundo encantado</h3>
            </div>
        </div>
        <div class="grid-item">
            <div class="container-img-home img-home-1">
                <h3>Coelhinha Layla</h3>
                <p>Feita com muuuito amor para alegrar o quartinho da sua pequena.</p>
                <button>Saiba mais</button>
            </div>
        </div>
        <div class="grid-item">
            <div class="container-img-home img-home-2">
                <h3>Boneca Tilda</h3>
                <p>As crianças amam a Tilda como companheira!</p>
                <button>Saiba mais</button>
            </div>
        </div>
    </div>

    <!-- NOSSO OBJETIVO -->
    <div class="margin-top-70px">
        <div class="text-center">
            <h3 class="title-level-1"> Nosso objetivo </h3>
            <hr class="line" />
        </div>

        <div class="margin-top-50px">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <img src="./images/baby-about-us.jpg" class="width-100-perc border-radius">
                </div>
                <div class="col-12 col-lg-6">
                    <div class="padding-top-50px">
                        <h4 class="title-level-2"> "No sorriso de uma criança está toda a pureza do amor" </h4>
                        <br>
                        <p class="text">
                            Nosso objetivo é tornar o <strong>sorriso no rosto das crianças</strong> algo único e
                            constante. A felicidade
                            no rosto deles nos encanta!
                            Por isso, fazemos todas as nossas peças, bichos e bonecas com o maior <strong>cuidado e
                                carinho.</strong>
                            Esperamos que vocês, mamães e papais, conheçam e gostem de todo o nosso trabalho!
                        </p>
                        <div class="padding-top-50px text-center">
                            <button class="button-standard">Conheça o catálogo</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CATALOGO -->
    <div class="margin-top-70px">
        <div class="text-center">
            <h3 class="title-level-1"> Catálogo </h3>
            <hr class="line" />
        </div>

        <div class="margin-top-50px">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 padding-10px"
                    onclick="window.open('https://www.elo7.com.br/atelierjanecunha/colecao/presentes-para-o-bebe','mywindow');">
                    <div class="catalogo-item catalogo-presente">
                        <h5>Presentes</h5>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 padding-10px"
                    onclick="window.open('https://www.elo7.com.br/atelierjanecunha/colecao/bonecas-de-pano','mywindow');">
                    <div class="catalogo-item catalogo-bonecas">
                        <h5>Bonecas</h5>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 padding-10px"
                    onclick="window.open('https://www.elo7.com.br/atelierjanecunha/colecao/almofadas','mywindow');">
                    <div class="catalogo-item catalogo-almofada">
                        <h5>Almofadas</h5>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 padding-10px"
                    onclick="window.open('https://www.elo7.com.br/atelierjanecunha/colecao/acessorios','mywindow');">
                    <div class="catalogo-item catalogo-acessorios">
                        <h5>Acessórios</h5>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 padding-10px"
                    onclick="window.open('https://www.elo7.com.br/atelierjanecunha/colecao/bichos','mywindow');">
                    <div class="catalogo-item catalogo-bichos">
                        <h5>Bichos</h5>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 padding-10px"
                    onclick="window.open('https://www.elo7.com.br/atelierjanecunha/colecao/compressas-para-colica','mywindow');">
                    <div class="catalogo-item catalogo-compressinha">
                        <h5>Compressinhas</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ONDE COMPRAR -->
    <div class="margin-top-70px">
        <div class="text-center">
            <h3 class="title-level-1"> Onde comprar? </h3>
            <hr class="line" />
        </div>

        <div class="margin-top-50px text-center">

            <div class="row">
                <div class="col-4">
                    <a class="social-media-home" href="https://www.instagram.com/atelier_jane_cunha/" target="_blank">
                        <img src="./images/instagram.png">
                    </a>
                </div>
                <div class="col-4">
                    <a class="social-media-home" href="https://api.whatsapp.com/send?phone=5511996336197&text=" target="_blank">
                        <img src="./images/whatsapp.png">
                    </a>
                </div>
                <div class="col-4">
                    <a class="social-media-home" href="https://www.elo7.com.br/atelierjanecunha" target="_blank">
                        <img src="./images/elo7.png">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- SOBRE NÓS -->
     <div class="margin-top-70px">
        <div class="text-center">
            <h3 class="title-level-1"> Sobre nós </h3>
            <hr class="line" />
        </div>

        <div class="margin-top-50px">

            <div class="row">
                <div class="col-12 col-md-6">
                        <img src="./images/sobre_nos.jpg" class="width-100-perc border-radius">
                </div>
                <div class="col-12 col-md-6">

                    <div class="margin-top-50px">
                     <h4 class="title-level-2"> "A alegria de trabalhar com o que amamos" </h4>
                        <br>
                        <p class="text">
                            Somos mãe e filha e trabalhamos juntas para desenvolver peças que transmitam amor, carinho e cuidado para o coração das mamães, papais e toda a família.
                            <br><br>
                            Esse sorriso que estamos na foto, não é um mero sorriso para fotografia, e sim, a alegria de trabalhar com o que amamos ❤️.
                            <br><br>
                            💌 Fazemos o nosso melhor para entregar amor e carinho com nossos produtos.
                        </p>
                        <div class="padding-top-50px text-center">
                            <button class="button-standard">Conheça mais sobre nós</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->

    <br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>
