@{
    ViewData["Title"] = "Home Page";
}

<div class="container padding-top-100px">

    <div class="grid grid-template-columns-2 grid-template-rows-2 grid-template-columns-lg-1 grid-template-rows-lg-1 gap-15px">
        <div class="grid-item grid-span-row-2">
            <div class="container-main-img-home">
                <h3>Crianças e bebês no seu mundo encantado</h3>
            </div>
        </div>
        <div class="grid-item">
            <div class="container-img-home img-home-1">
                <h3>Coelhinha Layla</h3>
                <p>Feita com muuuito amor para alegrar o quartinho da sua pequena.</p>
                <button>Saiba mais</button>
            </div>
        </div>
        <div class="grid-item">
            <div class="container-img-home img-home-2">
                <h3>Boneca Tilda</h3>
                <p>As crianças amam a Tilda como companheira!</p>
                <button>Saiba mais</button>
            </div>
        </div>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>
