@{
    ViewData["Title"] = "Home Page";
}

<div class="container padding-top-100px">

    <!-- INICIO -->
    <div
        class="grid grid-template-columns-2 grid-template-rows-2 grid-template-columns-lg-1 grid-template-rows-lg-1 gap-15px">
        <div class="grid-item grid-span-row-2">
            <div class="container-main-img-home">
                <h3>Crianças e bebês no seu mundo encantado</h3>
            </div>
        </div>
        <div class="grid-item">
            <div class="container-img-home img-home-1">
                <h3>Coelhinha Layla</h3>
                <p>Feita com muuuito amor para alegrar o quartinho da sua pequena.</p>
                <button>Saiba mais</button>
            </div>
        </div>
        <div class="grid-item">
            <div class="container-img-home img-home-2">
                <h3>Boneca Tilda</h3>
                <p>As crianças amam a Tilda como companheira!</p>
                <button>Saiba mais</button>
            </div>
        </div>
    </div>

    <!-- NOSSO OBJETIVO -->

    <div class="margin-top-70px">
        <div class="text-center">
            <h3 class="title-level-1"> Nosso objetivo </h3>
            <hr class="line" />
        </div>

        <div class="margin-top-50px">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <img src="./images/baby-about-us.jpg" class="width-100-perc border-radius">
                </div>
                <div class="col-12 col-lg-6">
                    <div class="padding-top-50px">
                        <h4 class="title-level-2"> "No sorriso de uma criança esta toda a pureza do amor" </h4>
                        <br>
                        <p class="text">
                            Nosso objetivo é tornar o <strong>sorriso no rosto das crianças</strong> algo único e constante. A felicidade
                            no rosto deles nos encanta!
                            Por isso, fazemos todas as nossas peças, bichos e bonecas com o maior <strong>cuidado e carinho.</strong>
                            Esperamos que vocês, mamães e papais, conheçam e gostem de todo o nosso trabalho!
                        </p>
                        <div class="padding-top-50px text-center">
                            <button class="button-standard">Conheça mais sobre nós</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CATALOGO -->

    <!-- ONDE COMPRAR -->

    <!-- SOBRE NÓS -->

    <!-- FOOTER -->

    <br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>
