@{
	ViewData["Title"] = "Sobre nós";
}
<div class="container padding-100px">
	<div class="margin-top-70px">
		<h3 class="text-center">Sobre nós</h3>
		<hr class="line" />
	</div>
	<div class="row padding-top-50px">
		<div class="col-12 col-md-5 padding-10px">
			<img src="./images/sobre_nos.jpg" class="width-100-perc border-radius">
		</div>
		<div class="col-12 col-md-7 padding-10px">
			<br /><br />
			<h4 class="title-level-2"> Quem nós somos? </h4>
			<br>
			<p class="text">
				Atelier Jane Cunha, há mais de 10 anos levando cuidado e amor para os bebês. Peças feitas a mão para o cuidado e decoração do quarto do bebê.
				<br><br>
				Oferecemos nossos produtos exclusivos para as mamães e papais receberem qualidade, carinho e criatividade.
				<br><br>
				Trabalhamos em família para transformar a experiência de compra em cuidado e mimo para os bebês. Afinal, a chegada de um bebê merece todo amor!
			</p>
		</div>
	</div>

	<div class="row padding-top-50px">
		<div class="col-12 col-md-7 padding-10px">
			<br /><br />
			<h4 class="title-level-2"> Nossa história </h4>
			<br>
			<p class="text">
				Tudo começou há 14 anos por uma paixão pelo universo infantil e bebê, afinal, meus 3 filhos foram as minhas maiores inspirações. Quando a minha menininha, a caçula nasceu, o mundo cor de rosa cheio de laços me encantou. Então resolvi me aventurar no lúdico das bonecas de pano.
				<br><br>
				Enfim, todos esses anos se passaram, aprimorei minha arte com cursos e incluí na minha paixão os bichos para decoração e cuidados com o bebê. E hoje temos o privilégio e prazer de trabalharmos juntas, eu e minha menininha que cresceu (Giovana) formando assim o Atelier Jane Cunha.
				<br><br>
				Um carinho de mãe e filha para a sua família! ❤
			</p>
		</div>
		<div class="col-12 col-md-5 padding-10px">
			<img src="./images/sobre_nos_2.jpg" class="width-100-perc border-radius">
		</div>
	</div>
</div>