name: Build and deploy container app to Azure Web App - AtelierJaneCunha

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  CI:
    runs-on: 'ubuntu-latest'

    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Log in to registry
      uses: docker/login-action@v1
      with:
        registry: https://index.docker.io/v1/
        username: ${{ secrets.AzureAppService_ContainerUsername_ffc2a40de7154d7db7c24e19e6c8d912 }}
        password: ${{ secrets.AzureAppService_ContainerPassword_4ecc466dfb324a0091af97af71d16cc2 }}

    - name: Build and push container image to registry
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: index.docker.io/${{ secrets.AzureAppService_ContainerUsername_ffc2a40de7154d7db7c24e19e6c8d912 }}/atelierjanecunha:${{ github.sha }}
        file: ../Dockerfile

  CD:
    runs-on: ubuntu-latest
    needs: CI
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Deploy to Azure Web App
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'AtelierJaneCunha'
        slot-name: 'production'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_b9ef8276348b421e9dded88309efa78e }}
        images: 'index.docker.io/${{ secrets.AzureAppService_ContainerUsername_ffc2a40de7154d7db7c24e19e6c8d912 }}/atelierjanecunha:${{ github.sha }}'
